<div class='repos'>
  <h3>List of <%= @user['login'] %>'s repositories</h3>
  <% @repos.each do |r| %>
    <div>
      <a href= <%='/repos/' + r['name'] + '/issues'%> ><%= r['name'] %></a>
    </div>
  <% end %>
</div>
